@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Application.Localization
@using Application.Web.Pages.BillingStatusLookups
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Application.BillingStatusLookups;
@using System.Globalization
@inject IHtmlLocalizer<ApplicationResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/BillingStatusLookups/EditModal" autocomplete="off">
    <abp-modal id="BillingStatusLookupEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="BillingStatusLookup.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="BillingStatusLookup.Code"   />


            <abp-input asp-for="BillingStatusLookup.Name"   />


            <abp-input asp-for="BillingStatusLookup.Description" text-area  />

                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
